img {
  height: 82%;
  min-width: 54.6%;
  box-shadow: 2px 2px 2px #bdbdbd;
  margin-right:1em;
  transition: 0.3s;
  display: block;
  border: solid black 1px;
  margin: auto;
}
img:hover {
  box-shadow: 4px 4px 4px #8c8c8c;
}
.entity-container {
  width:100%;
  height:300px;
  padding: 15px 0;
  display: block;
  position:relative;
  overflow:hidden;
  margin:.5em;
}

h3 {
  white-space: nowrap;
  display:block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.39230769rem;
}

h6 {
  white-space: nowrap;
  display:block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #596270;
  font-size: 1.18461538rem;

}
span {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

@media (max-width: 1100px) {
  h3 {
    font-size: 1.39230769em;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.0769em;
  }
}
