@import "src/styles.scss";

* {
  transition-duration: .2s;
}

nav {
  margin-top: 2em;
}

span {
  display: inline;
}

#profile-pic-container {
  background-color: rgb(17, 164, 209);
  border-radius: 5px;
  width: 125px;
  height: 125px;
  margin-right: 20px;
}

#profile-pic-char {
  font-size: 50px;
  line-height: 115px;
  text-align: center;
}

#follow-button {
  padding: 10px;
  margin-left: 15px;
  background-color:$base-color;
  border-radius: 23px;
  color: white;
  font-size: 18px;
  border: none;
  width: 100px;
}
#follow-button:hover {
  background-color: #1763a9;
}

@media only screen and (max-width: 768px) {
  span {
    display: none;
  }

  #username {
    margin: 6px 0;
    font-size: 2.0rem;
    overflow: hidden;
  }

  #follow-button {
    margin-left: 0;
  }

  .nav-tabs {
    width:100%;
  }
  .nav-tabs .nav-link {
    width: 25%;
  }
}
