nav {
  margin-top: 2em;
}

span {
  display: inline;
}

@media only screen and (max-width: 768px) {
  span {
    display:none;
  }
}

#profile-pic-container {
  background-color: rgb(17, 164, 209);
  border-radius: 5px;
  width: 125px;
  height: 125px;
}

#profile-pic-char {
  font-size: 50px;
  line-height: 115px;
  text-align: center;
}
