<div *ngIf="(this.entity | async); else loading">
  <main class="movie-info" [ngStyle]="{ 'background': 'linear-gradient(0deg, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(' + getEntityImageUrl() + ') no-repeat center / cover'}">
    <div class="d-md-flex h-md-100 align-items-center">
      <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
          <img [src]="getEntityPosterUrl()">
        </div>
      </div>
      <div class="col-md-6 p-0 h-md-100 ">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
          <div *ngIf="movieData != undefined" class="centered-container">
            <h1>{{movieData["title"]}}</h1>
            <div class="movie-meta">
              <span class="movie-duration">{{movieData["runtime"]}} min</span>
              <span class="movie-year">{{movieData["releaseDate"]}}</span>
              <span class="movie-lang">{{movieData["originalLanguage"]}}</span>
            </div>
            <p>{{movieData["overview"]}}<p>
            <div *ngIf = isLoggedIn>
              <div *ngIf = "((loginStatus.sharedStatus | async) == true &&
               (hasQueue) &&
               (hasWatched)); else listloading" class="btn-block">
                <button (click)="addToQueuedList()" *ngIf="!isInQueue" class="btn-watch">Watch Later</button>
                <button (click)="addToWatchedList()" *ngIf="!isInWatched" class="btn-watch">Mark as Watched</button>

                <button (click)="removeFromList('queue')" *ngIf="isInQueue" class="btn-watch red-button"><fa-icon [icon]="miniusCircle"></fa-icon> Remove from Queue</button>
                <button (click)="removeFromList('viewed')" *ngIf="isInWatched" class="btn-watch red-button"><fa-icon [icon]="miniusCircle"></fa-icon> Remove from Watched List</button>

                <button (click)="scroll(reviews)" class="btn-wait">Write a Review</button>
              </div>
            </div>
            <ng-template #listloading>
              <div class="d-flex justify-content-center align-middle">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div *ngIf="movieData != undefined" #reviews class="container reviews">
  <h2>Reviews: </h2>
  <app-review [type]="'movie'" [id]="movieId" [title]="entity['title']" [artUrl]="getEntityPosterUrl()"></app-review>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
