@import "src/styles.scss";

* {
  transition-duration: .2s;
}
.movie-info {
  padding: 125px 0px 105px;
  height: auto;
  color: white;
}

.red-button {
  background-color:red !important;
}

.amazon {
  margin-top:1em;
  display: block;
  color:white!important;
}

.movie-info img {
  width: 380px;
  margin-bottom: 35px;
}

.movie-info p {
  font-size: 16px;
  font-height: 1.375px;
  margin-top: 30px;
}

.btn-block button {
  border: none;
}

.btn-watch {
  padding: 10px 25px;
  margin-right:10px;
  background-color:$base-color;
  border-radius: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 30px;
}
.btn-watch:hover {
  background-color: #1763a9;
}

.btn-wait {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: underline;
  margin-left: 25px;
}

.btn-wait:hover{
  color: #bababa;
  text-decoration: none;
}

.movie-meta {
  margin-top: 11px;
  font-size: 0;
}

.movie-meta span {
  padding: 0 3px;
  border: 1px solid currentColor;
  font-size: 13px;
}

.movie-meta span + span {
  margin-left: 5px;
}

.movie-lang {
  font-style: italic;
  text-transform: uppercase;
  padding: 0 7px 0 4px;
}

.movie-description {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-top: 11px;
}

.movie-description-text + .movie-description-text {
  margin-top: 15px;
}

.loader {
  width:100vw;
  height:100vh;
}

.reviews {
  margin-top:1em;
}

@media only screen and (max-width: 768px) {
  img {
    width: 80% !important;
  }

  .btn-watch {
    margin: 5px !important;
  }
}
